# Bỏ qua thư mục build của Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Bỏ qua các file cấu hình cá nhân của NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Bỏ qua các file biên dịch và logs
*.class
*.log

# Bỏ qua các file thư viện đóng gói (bản thân Maven sẽ tự tải khi cần)
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar